@font-face {
  font-family: "Vasek";
  src: url("../fonts/Vasek-Italic.ttf");
  src: url("../fonts/Vasek-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Vasek-Italic.woff2") format("woff2"), url("../fonts/Vasek-Italic.woff") format("woff"), url("../fonts/Vasek-Italic.ttf") format("truetype"), url("../fonts/Vasek-Italic.svg#Vasek-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
body {
  font-family: "Winston", serif;
  background-color: white;
  color: black;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body.modal-open, body.mobile-open {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.faq-list, .category-list, .cart-list, .projects-list, .stats-list, .shine-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  display: inline-block;
  min-width: 280px;
  padding: 14px 60px;
  color: #240532;
  background-color: #D6FF3F;
  border: solid 1px #827089;
  border-radius: 40px;
  box-shadow: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  line-height: 137%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-title {
  color: #240532;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.subtitle {
  margin-bottom: 10px;
  color: #240532;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Winston;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 17.6px */
}

.projects-list, .stats-list__txt, .text {
  color: #665070;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 137%; /* 19.18px */
}

.container {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-bottom: 40px;
}

.section--margin {
  margin-bottom: 0px;
}

.thumb {
  position: relative;
  display: block;
  width: 100%;
  border: solid transparent;
  border-radius: 50px 50px 0 0;
}

.thumb > img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid transparent;
  border-radius: inherit;
}

.thumb--border {
  border-radius: 0;
}

.page-header {
  padding-top: 5px;
  position: relative;
  height: 22px;
  margin-bottom: 10px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
}

.logo__icon {
  width: 30px;
  height: 22px;
}

.menu-button {
  display: block;
  position: absolute;
  right: 10px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
}

.menu-button__icon {
  height: 30px;
  transition: fill 250ms linear;
  width: 30px;
}
.menu-button:active .menu-button__icon, .menu-button:hover .menu-button__icon, .menu-button:focus .menu-button__icon {
  fill: green;
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
  transform: translateX(30%);
}

.menu-button.is-open .icon-open {
  display: none;
}

.main-title {
  margin-bottom: 10px;
}

.main-title--color {
  color: #626286;
}

.title {
  max-width: 480px;
  margin-bottom: 10px;
  color: #240532;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Winston;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 30px */
}

.subtitle--size {
  font-size: 20px;
  font-weight: 500;
}

.text {
  margin-bottom: 10px;
}

.description--color {
  color: #240532;
}

.description--weight {
  font-weight: 400;
}

.category-list__description {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #240532;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Winston;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  text-transform: uppercase;
}

.shine-box {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 295px;
  height: 15px;
  color: #918299;
}

.icon-shine-line {
  max-width: 100%;
  height: 2px;
}

.shine-list {
  position: absolute;
  display: inline-flex;
  gap: 20px;
  top: -1px;
  right: -5px;
  height: 15px;
}
@media screen and (max-width: 360px) {
  .shine-list {
    top: 0px;
  }
}

.shine-list__item {
  display: inline-block;
  height: inherit;
}

.shine-list__shine {
  display: inline-flex;
  height: inherit;
}

.button {
  margin-top: 10px;
  width: inherit;
}
.button:hover, .button:focus {
  color: #ffffff;
  background-color: #240532;
}
.button:active {
  color: #240532;
  background-color: #ffffff;
}
@media screen and (max-width: 339px) {
  .button {
    font-size: 12px;
  }
}

.button-margin {
  margin-top: 0;
}

.stats-list {
  display: flex;
  justify-content: space-between;
}

.stats-list__title {
  color: #665070;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Vasek;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 110%; /* 33px */
}

.stats-list__item {
  display: block;
  max-width: 80px;
  border-top: solid 1px #827089;
}

.stats-list__txt {
  display: flex;
  font-size: 12px;
  line-height: 140%; /* 16.8px */
}

.projects-list__item {
  padding-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #827089;
}
.projects-list__item:last-child {
  border-bottom: 1px solid #827089;
}

.cart-list {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cart-list__item {
  margin-bottom: 5px;
}
.cart-list__item:nth-last-child(1) {
  margin-bottom: 0;
}

.category-list__item {
  position: relative;
}

.subtitle--border {
  border-bottom: 1px solid #827089;
  border-top: 1px solid #827089;
  padding-top: 10px;
  padding-bottom: 10px;
}/*# sourceMappingURL=main.css.map */