.text {
  @extend %txt;
  margin-bottom: 10px;
}

.description--color {
  color: $color-title;
}

.category-list__description {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: $color-title;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Winston;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  text-transform: uppercase;
}
