.main-title {
  @extend %title;
  margin-bottom: 10px;
}

.main-title--color {
  color: $color-interactive;
}

.title {
  max-width: 480px;
  margin-bottom: 10px;

  font-feature-settings: "clig" off, "liga" off;
  font-size: 25px;
  line-height: 120%; /* 30px */
}

.subtitle {
  @extend %subtitle;
}

.subtitle--size {
  font-size: 20px;
  font-weight: 500;
}