.card-list {
  @extend %list;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-list__item {
  margin-bottom: 5px;

  &:nth-last-child(1) {
    margin-bottom: 0;
  }
}

.card-box {
  position: relative;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transform: translate(-100vw, 0);
  transition: visibility 250ms ease-in-out, transform 250ms ease-in-out 250ms,
    max-height 250ms ease-in-out, opacity 250ms ease-in-out;
}

.card-box .button {
  display: inline-block;
  margin-bottom: 10px;
}

.card-box.is-active {
  max-height: 200vh;
  overflow: visible;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);

  @media screen and (max-width: 480px) {
  }
}

.is-active .card-box {
  overflow: visible;
  opacity: 1;
  visibility: visible;
}
