.page-header {
  padding-top: 10px;
  position: relative;
  height: 22px;
  margin-bottom: 10px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
  z-index: 2;
}

.logo__icon {
  width: 30px;
  height: 22px;
}
